PRIVACY_SERVICE_HOST=127.0.0.1
PRIVACY_SERVICE_PORT=8092
PRIVACY_SERVICE_TOKEN=replace_with_generated_privacy_service_token
PRIVACY_RUNTIME_CONTROL_TOKEN=replace_with_generated_privacy_runtime_control_token
PRIVACY_RUNTIME_PROVIDER=auto
PRIVACY_GPU_IDLE_UNLOAD_SECONDS=300
PRIVACY_MAX_FIELDS=2048
PRIVACY_MAX_FIELD_CHARS=100000
PRIVACY_MAX_REQUEST_CHARS=200000
PRIVACY_MAX_BODY_BYTES=1048576
