node_modules
.pnpm-store
.turbo
.DS_Store
*.log
*.tsbuildinfo
apps/web/dist
.env
.env.local
TOKEN
build/
.logs/
.idea/
apps/web/.playwright
apps/web/playwright-report
apps/web/src/components/__screenshots__
.vitest-*
__screenshots__/
.tanstack
.vercel
